.favoriteVideos-container {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-favorites {
  width: 70%;
  text-align: center;
  margin-top: 10vh;
}

.no-favorites h2 {
  font-size: 3rem;
}
