.favorite-header .center-header-left{
  display: none;
}

.card-item .botones-favoritos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-item .botones-favoritos button {
  color: #008cba;
  margin: 0px 32px;
  padding: 3px auto;
  border-radius: 8px;
}

.card-item .botones-favoritos button i {
    color: #008cba;
    font-size: 30px;
}

.card-item .botones-favoritos button i:hover{
    transition-duration: 0.4s;
}
