html {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.contenedor {
  margin: auto;
  padding-top: 80px;
  width: 90%;
}

@media (max-width: 480px) {
  .contenedor {
    padding-top: 200px;
  }
  h1 {
    margin-top: 30px;
  }
}

h1 {
  font-family: monospace;
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  margin-top: 5px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5px 0;
}

.card-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: auto;
  width: 300px;
  margin: 15px;
  padding: 10px 10px;
  box-shadow: 6px 9px 16px -1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 6px 9px 16px -1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 9px 16px -1px rgba(0, 0, 0, 0.53);
}

.card-item h2 {
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
  line-height: 20px;
}

.card-item p {
  margin: 10px auto;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 15px;
}

.card-item img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}
.card-item button{
  border: none;
  width: 100%;
  background-color: transparent;
  margin: auto;
  display: none;
}

.card-item button i:hover{
  transform: scale(1.4);
  cursor: pointer;
  color: #008cba;
  transition: 0.4s;
}

.card-item button i{
  color: #008cba;
  font-size: 45px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .card-item {
    border-radius: 5px;
    height: auto;
    margin: 10px;
    width: 80%;
  }
}

.card-item:hover > button {
  display: block;
}
