/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.title--font {
  font-family: 'Work Sans', sans-serif;
}
